h1 {
    text-align: center;
    font-size: 50px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.images {
    display: flex;
    align-items: stretch;
    align-content: flex-start;
    justify-content: space-evenly;
    flex-direction: row;
}

#product1 {
    outline: 1px solid black;
    max-width: 300px;
    max-height: 300px;
}

#product2 {
    outline: 1px solid black;
    max-width: 300px;
    max-height: 300px;
}

#product3 {
    outline: 1px solid black;
    max-width: 300px;
    max-height: 300px;
}